body {
  background-color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

#a1, #a2 {
  margin: 20px auto;
  padding: 10px;
  width: 600px;
  border: 1px solid black;
}

#a2 {
  margin-top: 0;
}

.info {
  margin-bottom: 10px;
}
